header .header-container label {
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.section__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    ". a a ."
    ". a a .";
}

.carousel {
  grid-area: a;
  align-self: center;
  justify-self: center;
  width: 400px;
  background: transparent;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background: transparent;
  border-radius: 5px;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.flickity-viewport {
  height: 300px !important;
}

.next {
  right: -50px !important;
}

.previous {
  left: -50px !important;
}