:root {
  --black: black;
  --white: white;
}

header .header-container label {
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.section__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_vehicle_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.carousel-vehicle {
  position: relative;
}

.next, .prev {
  cursor: pointer;
  transition: 0.4s;
  border-radius: 50%;
  font-size: 24px;
  color: var(--black);
  padding: 8px;
}

.next:hover, .prev:hover {
  border-radius: 50%;
  background-color: var(--black);
  color: var(--white);
}

.next {
  position: absolute;
  border: 1px solid --black;
  background-color: var(--white);
  right: 10px;
  top: 20%;
}

.prev {
  position: absolute;
  border: 1px solid --black;
  background-color: var(--white);
  left: 10px;
  top: 20%;
}

.car-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41) !important;
}

.carousel-vehicle img {
  border-radius: 2px;
}

.car-stats .car-brand img {
  height: 100px;
  width: 100px;
}